@font-face {
    font-family: mainFontMedium;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}
body{
    background-color: #061735;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: mainFontMedium;
    display:flex;
    flex-direction:column;
    font-size:1.4rem;
    align-items: center;
}
h1{
    font-size:3em;
    margin-top:2rem;
    text-transform: none;
    color:white;
    width:100%;
    text-align: center;
}
main{
    margin:0 2rem;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color:orangered;
}
ol{
    width:90%;
    text-transform: none;
    list-style:decimal;
}
li{
    margin-top: 1rem;
    font-size: 1.2rem;
}
footer{
    margin-top: 4rem;
    text-transform: none;
    color:white;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color: orange;
    text-decoration: underline;
}