/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: mainFontMedium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

h1{
  font-size:3em;
  padding-top:0.5em;
  padding-left:0.5em;
  text-align: center;
}

#myform > *{
  box-sizing: border-box;
  border:1px solid red;
  padding:1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body{
    font-family: mainFontMedium;
}

aside{
  display:none;
  text-align: center;
  position:fixed;
  margin-left:85%;
  color:rgba(0, 0, 0, 0.4);
  border:1px solid rgba(0, 0, 0, 0.4);
  max-width:10%;
  border-radius:15%;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    color:rgba(157, 255, 0, 0.9);
    border:1px solid rgba(157, 255, 0, 0.9);
    margin-left: 100%;
    width:80%;

  }
  to {
    margin-left: 85%;
    width:100%;
  }
}


aside:hover{
  color:rgba(0, 0, 0);
  border:1px solid rgba(0, 0, 0);
}
aside button{
  position:absolute;
  margin-left:30%;
  background-color: crimson;
  border-radius:50%;
  width:2em;
  height:2em;
  padding:0.3em;
}
aside p{
  margin:2em;
}
#myform{
  display:flex;
  width:100%;
  flex-direction: row;
  flex-wrap:wrap;
}
.education, .experience, .contact, #experience-buttons, #education-buttons,#submit-div, #name, #contact{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin:1rem;
  flex:1 1200px;
}
footer{
  text-align: center;
  margin-bottom:0.5em;
}
input + span {
    padding-right: 30px;
  }
  
input:invalid + span::after {
    
    content: "✖";
    padding-left: 5px;
  }
  
input:valid + span::after {
    content: "✓";
    padding-left: 5px;
  }
.school-type-select{
    display:none;
    /*display:inline-block*/;
}
select + span {
    padding-right: 30px;
  }
  
select:invalid + span::after {
    content: "✖";
    padding-left: 5px;
  }
  
select:valid + span::after {
    content: "✓";
    padding-left: 5px;
  }