
@font-face {
    font-family: mainFontMedium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}
body{
    font-family: mainFontMedium;
}
aside{
  display:none;
  text-align: center;
  position:fixed;
  margin-left:85%;
  color:rgba(0, 0, 0, 0.4);
  border:1px solid rgba(0, 0, 0, 0.4);
  max-width:10%;
  border-radius:15%;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width:80%;

  }

  to {
    margin-left: 85%;
    width:100%;
  }
}


aside:hover{
  color:rgba(0, 0, 0);
  border:1px solid rgba(0, 0, 0);
}
aside button{
  position:absolute;
  margin-left:30%;
  background-color: crimson;
  border-radius:50%;
  width:2em;
  height:2em;
  padding:0.3em;
}
aside p{
  margin:2em;
}

.education, .experience, .contact{
  display:flex;
}
input + span {
    padding-right: 30px;
  }
  
input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
  }
  
input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }
.school-type-select{
    display:none;
    /*display:inline-block*/;
}
select + span {
    padding-right: 30px;
  }
  
select:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
  }
  
select:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }