<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/get_cv/reset.css">
    <link rel="stylesheet" href="/login_register/rules_app.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1><a href="/home">CV Generator</a></h1>
    </header>
    <main>
        <h2>Rules</h2>
        <ol>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, porro vitae, quo amet, praesentium modi
                nobis repellat consequatur quia dicta officia aliquid tenetur omnis ipsam saepe laudantium! Eligendi,
                ipsam quam.
                In veniam incidunt necessitatibus nobis animi accusamus fugit beatae rem consequatur repellendus,
                dolorem architecto error totam excepturi modi repudiandae perferendis quam, blanditiis dolore. Sequi
                magni, minima rerum maiores voluptas possimus?
                Itaque dolor iusto accusamus possimus? Quasi quas dolorem quia modi magni voluptates enim illum, quidem
                nemo nisi porro, tempora sint minima perspiciatis totam impedit, perferendis iste similique? Deserunt,
                ratione recusandae?
                Vitae provident quia sint non earum, amet sed numquam accusantium, dolores molestias, minima modi
                delectus distinctio quasi qui temporibus reprehenderit voluptatum maxime assumenda voluptas ipsum sit
                error sequi! Officiis, modi.
                Officia nesciunt qui, ipsa vel id harum maiores voluptatibus quidem, voluptatum necessitatibus repellat
                similique. Ad at cumque nostrum maiores tenetur eius a ea! Ratione, corrupti tempore laborum reiciendis
                quas soluta?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sunt, ipsum sit provident eligendi
                exercitationem culpa, fugiat quos aut nulla, architecto neque error reiciendis voluptatibus accusamus
                ipsa nostrum natus eos.
                Ut deserunt error aliquam neque placeat! Voluptate at eligendi doloremque culpa voluptatem enim fugit
                libero corporis in. Ut, accusamus delectus necessitatibus, eligendi dolores, dicta vero doloribus
                cupiditate pariatur deleniti cumque?
                Deserunt dignissimos iusto odio obcaecati, atque ipsam quaerat ex, fugiat soluta nostrum rerum? Sapiente
                quam amet, dolore autem commodi ipsam deleniti optio nobis aperiam delectus esse, magnam similique velit
                nulla?
                Inventore minus quis, consequatur nemo fugit ipsam neque. Officiis eius blanditiis alias repellat
                tempore aut possimus perspiciatis quia ad totam id, tempora quidem impedit? Voluptas reiciendis tempore
                sed saepe deserunt?
                Sed totam voluptas maxime exercitationem blanditiis perferendis, itaque provident tenetur consequatur
                quasi eos necessitatibus nam! Reiciendis deleniti labore obcaecati beatae libero? Quidem iste
                accusantium iure aut exercitationem? Voluptatem, sunt labore.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ipsam veniam nemo placeat nostrum
                omnis neque odit quibusdam aliquam officiis? Et rerum dolorum tenetur explicabo veritatis expedita cum
                quia sit.
                Nam officiis nihil et aliquam, laudantium, laborum rerum temporibus quam architecto sed libero
                consequuntur eum minus tenetur porro. Explicabo, ea officiis pariatur enim autem impedit suscipit cumque
                nemo eaque qui.
                Iure voluptatibus at culpa sunt quidem omnis labore nemo libero voluptas? Neque quasi eius facilis ex
                minus incidunt enim ratione necessitatibus nostrum laborum odit, reiciendis, sit totam, vel dicta vero.
                Eos voluptate quas non molestiae perferendis id ad numquam sunt quisquam. A fugit beatae optio animi,
                ipsam perferendis at, rerum nostrum mollitia, sed delectus. Libero ea voluptate minus earum vel.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil dolores inventore iusto a rem? Debitis
                maxime facilis est reprehenderit quis voluptate alias illum, quae provident numquam eveniet nihil
                repellat. Sapiente.
                Dolore unde ea maiores numquam ratione doloribus accusantium nam sit, dignissimos quibusdam quae at
                corrupti doloremque delectus atque sapiente nobis dolor possimus nihil officia? Nisi facere id eveniet
                molestias nostrum?
                Officia quibusdam ipsum doloribus repellat dignissimos nulla ut eos minima nisi consequatur. Maiores
                repudiandae rem libero quis ipsam reiciendis quae odit cum, perspiciatis labore earum natus
                necessitatibus reprehenderit tenetur mollitia!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita qui non, voluptatem nobis
                necessitatibus molestias fugit maxime illum quod esse atque ab voluptas ut eum quam sapiente! Aliquid,
                accusantium explicabo.
                Autem doloribus provident temporibus quibusdam corporis commodi unde? Minima corrupti molestiae nemo
                nihil corporis optio accusamus expedita commodi, assumenda rem nulla maxime, illum doloremque sed fugiat
                quos unde iure ea!
                Fugiat velit id ipsa ullam itaque repellendus rem at accusantium dolorum minus eveniet hic nostrum,
                consequatur adipisci sequi quam soluta ducimus deleniti asperiores officia facere alias quae vel veniam.
                Cupiditate.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa fuga? Qui porro nesciunt
                voluptates, ex adipisci iste possimus neque quo eos debitis non aliquid maxime id eum esse sint.
                Esse id tempore obcaecati fugit eaque minima laborum natus sunt rem, iusto perferendis nulla sed
                consequatur tempora nemo fuga architecto. Pariatur, exercitationem. Libero deleniti autem iure quam!
                Eum, dolor unde!</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem numquam dolor, provident laboriosam
                consequuntur officia fugit ullam repellendus obcaecati quaerat. Aperiam maiores alias neque quos aliquam
                animi eveniet, ducimus rerum?</li>
        </ol>
    </main>
    <footer>
        <p>Copyright &copy Igor Ciesielski 2023</p>
    </footer>
</body>

</html>