<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/get_cv/reset.css">
    <link rel="stylesheet" href="/talent_finder/app.css">
    <title>Talent Finder</title>
</head>
<body>
    <header>
        <h1><a href="/home">CV Generator</a></h1>
    </header>
    <main>
        <h2>
            Talent Finder
        </h2>
        <div id="input_div">
            <form>
                <input type="text" id="verb_like" name="verb_like" placeholder="Type Something Here... (eg. english)">
                <input type="submit" value="SEARCH" id="search">
            </form>
        </div>
        <section id="all_records">
            <!-- <div class="record">
                <ul class="personaldata">
                    <li class="image_element">
                        <img src="img">
                    </li>
                    <li>
                        <p
                            <a href="/cv/id">Aleksandra kukunożka</a>  
                        </p>
                        <p>
                            <a href="tel:+89832222211">+89832222211</a>
                        </p>
                        <p>
                            <a href="mailto:igo2311@wp.pl">igo2311@wp.pl</a>
                        </p>
                    </li>
                </ul>
                <ul class="skills">
                    <li>
                        skill1
                    </li>
                    <li>
                        skill2
                    </li>
                    <li>
                        skill3
                    </li>
                </ul>
            </div>
            <div class="record">
                <ul class="personaldata">
                    <li class="image_element">
                        <img src="img">
                    </li>
                    <li>
                        <p>
                            <a href="/cv/id">imie nazwisko</a>  
                        </p>
                        <p>
                            <a href="tel:+89832222211">+89832222211</a>
                        </p>
                        <p>
                            <a href="mailto:igo2311@wp.pl">igo2311@wp.pl</a>
                        </p>
                    </li>
                </ul>
                <ul class="skills">
                    <li>
                        skill1
                    </li>
                    <li>
                        skill2
                    </li>
                    <li>
                        skill3
                    </li>
                </ul>
            </div> -->
        </section>
        <div id="control_buttons">
            <input type="button" id="previous" class="control_button" value="Previous">
            <input type="button" id="next" class="control_button" value="Next">
        </div>
    </main>
    <footer>
        <p>Copyright &copy Igor Ciesielski 2023</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/talent_finder/app.js"></script>
</body>
</html>